.input-wrapper{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 0 3px;
    /*box-shadow: 0px 0px 8px #ddd;*/
    display: flex;
    align-items: center;
    text-decoration: none;
}

input {
    background-color: transparent;
    border: none;
    /*font-size*/
    margin-left: 5px;
    width: 100%;
    text-decoration: none;
}
input:focus {
    outline: none;
}
#search-icon {
    color: royalblue;
}